@use "@/variable" as var;

.side_bar_item {
  height: 55px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  .side_bar_link {
    padding: 15px;
    align-items: center;
    color: #fff;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 100%;
      background-color: var.$green;
      left: 0;
      opacity: 0;
    }
    &:hover {
      color: var.$green;
      &::before {
        opacity: 1;
      }
    }
    .side_link_title_wrap {
      .side_link_icon {
        margin-right: 4px;
        font-size: 24px;
      }
      .side_link_title {
        font-size: 14px;
        @include var.mq("sm") {
          font-size: 12px;
        }
      }
    }
    .side_link_icon_left {
    }
  }
  .active {
    color: var.$green;
    @extend .side_bar_link;
    &::before {
      opacity: 1;
    }
  }
  .side_bar_sublink_wrap {
    .side_bar_sublink {
      padding: 5px 5px 5px 15px;
      align-items: center;
      color: #fff;
      position: relative;
      &:hover {
        color: var.$green;
      }
      .side_bar_sublink_icon {
        margin-right: 4px;
        font-size: 14px;
      }
      .side_bar_sublink_title {
        font-size: 12px;
        margin-bottom: 3px;
        @include var.mq("sm") {
          font-size: 11px;
        }
      }
    }
    .active_sub {
      @extend .side_bar_sublink;
      color: var.$green;
    }
  }
}
.extend {
  height: 150px;
}
